<IfModule mod_expires.c>
    ExpiresActive On
    ExpiresDefault "access plus 1 month"

    ExpiresByType application/x-font-woff "access plus 2 days"
    ExpiresByType image/jpeg "access plus 2 days"
</IfModule>