<IfModule mod_expires.c>
    ExpiresActive On
    ExpiresDefault "access plus 1 month"

    ExpiresByType text/css "access plus 2 days"
    ExpiresByType image/svg+xml "access plus 2 days"
    ExpiresByType application/javascript "access plus 2 days"
    ExpiresByType font/woff "access plus 2 days"
    ExpiresByType image/jpeg "access plus 2 days"
</IfModule>